*{
    padding: 0;
    margin: 0;
}

/* mobile first*/
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E2DEDF;
}
/* mismo para cualquier vista */
footer{
    bottom: 0;
    margin-top: auto;
    background-color: #287B86;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 10px;
    grid-area: footer;
}
p {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: justify;
}
div p {
    color: rgb(255, 255, 255);
}
header{
    background-color: #287B86;
    padding: 10px;
    margin-top: 0;
    grid-area: header;
    font-family: 'Poppins', sans-serif;

}
.colorNav{
    background-color: #287B86;
}
a {
    text-decoration: none;
    color: white;
}

/* titulos */
.titulo__principal{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size:larger;
    padding: 5px;
}
.titulos{
    font-family: 'Lexend Deca', sans-serif;
    color: #375658;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 10px;
    font-size:large;
}
.titulo__section{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    color:#1f635d;
}
.subtitulo {
    color:#375658;
    text-align: center;
}
/* sections */
.section__contacto,.section__nosotros{
    padding: 10px 20px 10px 20px;
}

/* only mobile */
.background__inicio{
    background: rgb(17,28,177);
    background: linear-gradient(0deg, rgba(17,28,177,1) 0%, rgba(3,200,201,1) 100%);
    padding: 250px 0 250px 0;
    background-size: cover;
    grid-area: background__inicio;
}

/* index */
.main__index{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "background__inicio"
    "section__index"
    "aside"
    "footer";
}
.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
}
.section__index{
    grid-area: section__index;
}
.img__aside{
    height:300px;
    width:300px;
    margin-top: 30px;
    
}
aside div{
    padding: 10px;
}


/* cards sheet */
.main__cards{
    display: grid;
    grid-template-columns:100%;
    grid-template-areas: 
    "header"
    "titulo"
    "section__cards"
    "footer";
}
.section__cards{
    grid-area: section__cards;
}
.div__cards{
    background-color: #66a2aa;
    margin: 20px;
    padding: 15px;
    box-shadow: 5px 5px 10px #375658;
}


.img__tours,.img__destinos{
    height: 200px;
    width: 300px;
}
.div__titulo{
    grid-area: titulo;
}

/* icons */

.icon {
    width: 30px;
    height: 30px;
}

/* contacto */
.section__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "contacto"
    "form"
    "map"
    "footer";
}
.form{
    grid-area: form;
}
.contacto{
    grid-area: contacto;
}
.map{
    grid-area: map;
}
.contacto p{
    color:black;
    text-align: center;
}
iframe{
    width: 300px;
    height: 300px;
}

/* nosotros  */
.section__nosotros{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "nosotros"
    "footer";
}
.p__nosotros{
    grid-area: nosotros;
}
.p__nosotros p {
    color: black;
}

@media (min-width:480px){
    body{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 100vh;
        background-color: #E2DEDF;
    }
    .section__cards{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }

    iframe{
        height: 200px;
        width: 500px;
    }

}

@media (min-width:768px){
    body{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 100vh;
        background-color: #E2DEDF;
    }
    .section__cards{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }

    iframe{
        height: 300px;
        width: 700px;
    }

}

@media (min-width:1200px){
    body{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 100vh;
        background-color: #E2DEDF;
    }
    .section__cards{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(4, 1fr);
    }

    iframe{
        height: 500px;
        width: 900px;
        padding: 10px;
    }
}





