.section__nosotros{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "nosotros"
    "footer";
}
.p__nosotros{
    grid-area: nosotros;
    p{
        color: black;
    }
}