.main__index{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "background__inicio"
    "aside"
    "footer";
}
.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    
    div{
        padding: 10px;
    }
}

.img__aside{
    height:300px;
    width:300px;
    margin-top: 30px;
    
}
