.main__index{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "background__inicio"
    "aside"
    "footer";
}
.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
    div{
        padding-bottom: 20px;
    }
}

.img__aside{
    height:300px;
    width:300px;
    margin-top: 30px;
    
}

.div__form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form{
    background-color: #ACC3C2;
    padding: 20px 10px 0 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}
