.titulo__principal{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size:larger;
    padding: 5px;

}
.titulos{
    font-family: 'Merriweather', serif;
    color: #287B86;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 10px;
    font-size:xx-large;
    font-weight: 600;
}
.titulo__section{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color:#000000;
}
.subtitulo {
    color:#375658;
    text-align: center;
}


.titulo__form{
    color:white;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:larger;
}

.titulo__form:hover{
    color:#222F2F;
}